.hp-grad-1 {
    background-image: linear-gradient( #867481, #EABE9B, #867481);
    color: white !important;
}

.hp-grad-2 {
    background-image: linear-gradient( #867481, #CBABC8, #867481);
    color: white !important;
}

.hp-wave-1 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#867481), color-stop(0.49, #867481), color-stop(0.51, #fff), to(#fff));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.hp-wave-2 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#fff), color-stop(0.49, #fff), color-stop(0.51, #867481), to(#867481));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.text-align-left {
    text-align: start;
}

.text-align-right {
    text-align: end;
}

.hp-implemented-1 {
    -webkit-text-stroke-width: 0.15vw;
    -webkit-text-stroke-color: #696B7B;
    color: white;
}

.hp-consultation-1 {
    /* -webkit-text-stroke-width: 0.15vw; */
    /* -webkit-text-stroke-color: #696B7B; */
    color: #867481;
}

.hp-implemented-2 {
    -webkit-text-stroke-width: 0.10vw;
    -webkit-text-stroke-color: #696B7B;
    color: #EABE9B;
}

.pad-sm {
    padding: 5%;
}

.pad-1 {
    padding: 1%;
}

.pad-2 {
    padding: 2%;
}

.pad-3 {
    padding: 3%;
}

.pad-4 {
    padding: 4%;
}

.pad-5 {
    padding: 5%;
}

.pad-6 {
    padding: 6%;
}

.pad-8 {
    padding: 8%;
}

.pad-ver-arr {
    padding-bottom: 33%;
    padding-left: 33%;
    padding-right: 33%;
}

.pad-ver-arr2 {
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 5%;
}

.pad-ver-arr3 {
    padding-left: 41%;
    padding-right: 41%;
}

.pad-ver-arr4 {
    padding-left: 33%;
    padding-right: 33%;
    position: relative;
    left: 9.5%;
}

.pad-ver-arr5 {
    padding-left: 33%;
    padding-right: 33%;
    position: relative;
    top: -1.5vw;
    right: 1vw;
}

.pad-ver-arr6 {
    padding-left: 33%;
    padding-right: 33%;
    position: relative;
    top: -11.5vw;
}

.moveup5 {
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    top: -10vw;
}

.hparrows {
    position: absolute;
}

.hp-btn-1 {
    color: white;
    background-image: linear-gradient(to top right, #867481, #EABE9B);
    border-radius: 25px;
    width: 100%;
    border-color: #fff;
    border-style: solid;
    border-width: 0.3vw;
}

.hp-btn-1:hover {
    color: #867481!important;
    border-color: #867481;
    box-shadow: 4px 4px 1vw 1vw #867481;
}

.hp-btn-2 {
    color: #696B7B;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    border-color: #EABE9B;
    border-style: solid;
    border-width: 0.3vw;
}

.hp-btn-2:hover {
    background-color: #696B7B;
    color: #EABE9B!important;
    border-color: #696B7B;
    box-shadow: 4px 4px 1vw 1vw #867481;
}

.hp-btn-3 {
    color: white;
    background-image: linear-gradient(to top right, #867481, rgba(0, 0, 0, 0));
    border-radius: 15px;
    width: 100%;
    border-color: #fff;
    border-style: solid;
    border-width: 0.3vw;
}

.hp-btn-3:hover {
    color: #fff!important;
    background-image: linear-gradient(to bottom left, #867481, rgba(0, 0, 0, 0));
    border-color: #867481;
    box-shadow: 4px 4px 1vw 1vw #867481;
}

.feedbackbutton:hover {
    color: #fff!important;
}

.no_bottom_margin {
    margin-bottom: 0px;
}

.t-ssl {
    font-size: 4.8vw;
}

.t-ul {
    font-size: 5.8vw;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    /* padding-left: 100%; */
    animation: marqueee 5s linear infinite;
}

@keyframes marqueee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100vw, 0);
    }
}

.marquee-1 {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee-1 span {
    display: inline-block;
    /* padding-left: 100%; */
    animation: marqueee-1 5s linear infinite;
}

@keyframes marqueee-1 {
    0% {
        transform: translate(-100vw, 0);
    }
    100% {
        transform: translate(0vw, 0);
    }
}

#twoarrows {
    position: relative;
    top: -6vw;
}

.jirni {
    font-family: jirni;
}

.hp-grad-needable {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #867481, rgba(0, 0, 0, 0));
    color: white !important;
}

#hardwareButton {
    position: relative;
    top: -12vw;
}

#sprayspray {
    position: relative;
    top: -12vw;
}

.circ-hover-shadow1:hover {
    border-radius: 50%;
    transform: scale(1.3);
}