
.navbar {
    background: none;
}
#navbarNav {
    float :right;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #CBABC8;
}

.dropdown > a:hover {
    background-image: none;
    background-color: #CBABC8;
}


@font-face {
    font-family: 'med';
    src: url('font/Exo2-Medium.ttf');
  }

@font-face {
    font-family: jirni;
    src: url("font/Exo2-Black.ttf");
}

body  {
  font-family:'med' !important;
  font-weight: 300 !important;
}

b {
  font-family: jirni;
  font-weight: 300 !important;
}

strong {
    font-family: jirni;
    font-weight: 300 !important;
}

.dropdown-item{
    font-family:med !important;
    color:rgba(0, 0, 0, 0.55) !important;
 }

.section-white{
  background-color: #ffffff;
  color: black;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
}


.section-grad{
  background-image: linear-gradient(#5B69AA, #CBABC8);
  color: white !important;
}

.section-grad-inverse{
  background-image: linear-gradient( #CBABC8,#5B69AA);
  color: white !important;
}

 .row{
  padding-top:5%;
  padding-bottom: 5%;
}

footer > .container > .row{
  padding-top: 1%;
  padding-bottom: 1%;
}

@media (min-width: 1400px){
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 85%;
  }
}


.squigly{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

.text-left {
  text-align: left !important;
}

.info-text {
  font-size: 1.8vw;
}


/* Footer Huyuter */
.contact-us-container {
  /* Как по мне это ебучий костыль. очень недоволен как я это сделал но по другому пока не нашел */
  margin-left: 15%; 
}

.contact-us-container h3 {
  font-weight: 900;
}

.contact-us-item {
  float: left;
  font-size: 1vw;
  margin-left: 10px;
  justify-content: center;
}


/* Wave */
/* ХАХАХАХА забей)))) */
.wave-up {
  height:35px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 50, from(white), color-stop(0.49, white), color-stop(0.51, #5B69AA), to(#5B69AA));
  -webkit-background-size: 35px 100%;
  
  transform: rotateX(180deg) translateY(-20px);
}


.wave-down{
  height:35px;
  width:100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#212529), color-stop(0.49, #212529), color-stop(0.51, #5B69AA), to(#5B69AA));
  -webkit-background-size: 35px 100%;
  transform: rotateX(180deg) ;
}



@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
@media screen and (max-width: 992px) {
  .info-text{
    font-size: 2.1vw;
  }
}
@media screen and (max-width: 768px) {
  .info-text{
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 576px) {
  .info-text{
    font-size: 3.2vw;
  }
}


 

 