.navbar {
    background: none;
}

#navbarNav {
    float: right;
}

.dropdown-menu>li>a:hover {
    background-image: none;
    background-color: #CBABC8;
}

.dropdown>a:hover {
    background-image: none;
    background-color: #CBABC8;
}

@font-face {
    font-family: 'med';
    src: url('font/Exo2-Medium.ttf');
}

@font-face {
    font-family: jirni;
    src: url("font/Exo2-Black.ttf");
}

body {
    font-family: 'med' !important;
    font-weight: 300 !important;
}

b {
    font-family: jirni;
    font-weight: 300 !important;
}

strong {
    font-family: jirni;
    font-weight: 300 !important;
}

.dropdown-item {
    font-family: med !important;
    color: rgba(0, 0, 0, 0.55) !important;
}

.salsa-cut {}

.text-justify {
    text-align: justify;
    text-align-last: center;
}

.row {
    padding-top: 5%;
    padding-bottom: 5%;
}

footer>.container-fluid>.row {
    padding-top: 1%;
    padding-bottom: 1%;
}

@media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 85%;
    }
}

.squigly {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.text-left {
    text-align: left !important;
}

.info-text {
    font-size: 1.8vw;
}


/* Footer Huyuter */

.contact-us-container h3 {
    font-weight: 900;
}

.contact-us-item {
    float: left;
    font-size: 1vw;
    margin-left: 10px;
    justify-content: center;
}


/* Wave */


/* ХАХАХАХА забей)))) */

.wave_colab_1 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#FFFFFF), color-stop(0.49, #FFFFFF), color-stop(0.51, #CBABC8), to(#CBABC8));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_colab_2 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#EABE9B), color-stop(0.49, #EABE9B), color-stop(0.51, #FFFFFF), to(#FFFFFF));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_white_black-impl {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#212529), color-stop(0.49, #212529), color-stop(0.51, #ffffff), to(#ffffff));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media screen and (max-width: 992px) {
    .info-text {
        font-size: 2.1vw;
    }
}

@media screen and (max-width: 768px) {
    .info-text {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 576px) {
    .info-text {
        font-size: 3.2vw;
    }
}

.social-name {
    margin-top: 1rem;
}


/* TEXT SIZES !!!*/

.text-sm {
    font-size: 1.2vw;
}

@media screen and (max-width: 992px) {
    .text-sm {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 768px) {
    .text-sm {
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 576px) {
    .text-sm {
        font-size: 2.1vw;
    }
}

.text-m {
    font-size: 1.4vw;
}

@media screen and (max-width: 992px) {
    .text-m {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 768px) {
    .text-m {
        font-size: 2.0vw;
    }
}

@media screen and (max-width: 576px) {
    .text-m {
        font-size: 2.3vw;
    }
}

.text-l {
    font-size: 1.7vw;
}

@media screen and (max-width: 992px) {
    .text-l {
        font-size: 2.0vw;
    }
}

@media screen and (max-width: 768px) {
    .text-l {
        font-size: 2.3vw;
    }
}

@media screen and (max-width: 576px) {
    .text-l {
        font-size: 2.6vw;
    }
}

.text-xl {
    font-size: 2vw;
}

@media screen and (max-width: 992px) {
    .text-xl {
        font-size: 2.4vw;
    }
}

@media screen and (max-width: 768px) {
    .text-xl {
        font-size: 2.8vw;
    }
}

@media screen and (max-width: 576px) {
    .text-xl {
        font-size: 3.2vw;
    }
}

.text-xxl {
    font-size: 2.3vw;
}

@media screen and (max-width: 992px) {
    .text-xxl {
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 768px) {
    .text-xxl {
        font-size: 3.2vw;
    }
}

@media screen and (max-width: 576px) {
    .text-xxl {
        font-size: 3.5vw;
    }
}

.t-sxs {
    font-size: 1.4vw;
}

.t-sss {
    font-size: 1.1vw;
}

.t-xxs {
    font-size: 1.7vw;
}

.t-xs {
    font-size: 2vw;
}

.t-s {
    font-size: 2.3vw;
}

.t-m {
    font-size: 2.7vw;
}

.t-l {
    font-size: 3.0vw;
}

.t-xl {
    font-size: 3.2vw;
}

.t-xxl {
    font-size: 3.5vw;
}

.t-sl {
    font-size: 3.8vw;
}

.t-xsl {
    font-size: 4.2vw;
}


/* COLORS */

.color-1 {
    color: #696B7B;
}

.color-2 {
    color: #5B69AA;
}

.color-3 {
    color: #888EBA;
}

.color-4 {
    color: #CBABC8;
}

.color-5 {
    color: #867481;
}

.color-6 {
    color: #9C7884;
}

.color-7 {
    color: #BD8481;
}

.color-8 {
    color: #FBA58E;
}

.color-9 {
    color: #EABE9B;
}

.color-10 {
    color: #FFFFFF;
}

.background-1 {
    background-color: #696B7B;
}

.background-2 {
    color: #5B69AA;
}

.background-3 {
    color: #888EBA;
}

.background-4 {
    color: #CBABC8;
}

.background-5 {
    color: #867481;
}

.background-6 {
    color: #9C7884;
}

.background-7 {
    background-color: #BD8481;
}

.background-8 {
    background-color: #FBA58E;
}

.background-9 {
    background-color: #EABE9B;
}

.background-10 {
    color: #FFFFFF;
}

.rounded-team {
    border-radius: 4%;
}

.close {
    padding: 2% !important;
}

.img-banner {
    padding-top: 5%;
}

.wave-up-team {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 50, from(white), color-stop(0.49, white), color-stop(0.51, #888EBA), to(#888EBA));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg) translateY(-20px);
}

.section-grad-team {
    background-image: linear-gradient(#888EBA, #BD8481);
    color: white !important;
}

.wave-down-team {
    height: 40px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#212529), color-stop(0.49, #212529), color-stop(0.51, #BD8481), to(#BD8481));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.pe-header {
    color: #BD8481;
}

.igem-modal {
    max-width: 80%;
}

.modal-content {
    /*background-image: linear-gradient(#888EBA, #BD8481);*/
    background-size: contain;
    /*background-image: url("../img/Big_ramka.svg");*/
    height: 100%;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    stroke: none;
}

#memberDesc {
    text-align: justify;
}


/*GENERIC*/

.no_bottom_padding {
    padding-bottom: 0px;
}

.no_top_padding {
    padding-top: 0px;
}

.no_side_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.scalex {
    transform: scaleX(1.05);
}

.t-vert-left {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
}

.t-vert-right {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.read_more_button {
    background-color: rgba(134, 116, 129, 0.6);
    border-radius: 20px;
    width: 100%;
    border-color: rgba(134, 116, 129, 1);
    border-style: solid;
}

.read_more_button:hover {
    color: #5B69AA !important;
    border-color: #5B69AA;
    box-shadow: 4px 4px 1vw 1vw rgba(134, 116, 129, 1);
}

.circ-hover-shadow:hover {
    border-radius: 50%;
    box-shadow: 4px 4px 2vw 2vw rgba(203, 171, 200, 0.9);
    transform: scale(1.2);
}

.intro-ramachka {
    position: relative;
    margin-top: 10%;
}


/* Introduction text */

.intro-ramachka-text {
    position: absolute;
    top: 9%;
    left: 0;
    width: 100%;
}

.intro-ramachka-text p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.fullwidth {
    width: 100%;
}

.ilh {
    line-height: initial;
}

.side-padding-s {
    padding-left: 10%;
    padding-right: 10%;
}

.margin-3 {
    margin: 7%;
}

#defaultCanvas0 {
    display: none;
}

button.collapsed {
    color: #888EBA;
}


/*DESCRIPTION*/

.section-grad-description {
    background-image: linear-gradient(#888EBA, #CBABC8, #888EBA);
    /* color: white !important; */
}

.wave-down-desc {
    /* margin-bottom: -5%; */
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 50, from(white), color-stop(0.49, white), color-stop(0.51, #888EBA), to(#888EBA));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg) translateY(-20px);
}

.wave-up-desc {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(white), color-stop(0.49, white), color-stop(0.51, #888EBA), to(#888EBA));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.dve-kartinki {
    display: flex;
    flex-direction: row;
    /* margin: 5%; */
}

#dvekartinki {
    width: 20%;
}

.desc-text {
    margin: 5%;
    color: white;
}

.desc-text-2 {
    color: white;
    padding: 5%;
}

#white_wave {
    margin-top: 5%;
    margin-bottom: 5%;
}

.darker-text {
    padding: 5%;
    color: #676a81;
}

.darker-text-image {
    color: #676a81;
}

.text-80 {
    padding-left: 10%;
    padding-right: 10%;
}


/* #grey_wave {
    width: 45%;
} */

.last-text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-text {
    text-align: center;
}

.last-text+img {
    width: 45%;
    margin-top: 5%;
}

.text-kartinka {
    display: flex;
    flex-direction: row;
    /* margin: 5%; */
}

#kartinka {
    width: 25%;
}

.ins-text {
    color: white;
    margin: 5%;
}

#white_wave {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

.ins-text-in-bubbles {
    padding: 5%;
    color: white;
}

.last-text-wave {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-intro {
    position: relative;
    margin-top: 10%;
}


/* Introduction text */

.education-intro-text {
    position: absolute;
    top: 9%;
    left: 0;
    width: 100%;
}

.education-intro-text p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.model-tables {
    border-color: #ffffff;
    border-radius: 5%;
}

.background-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.table {
    color: unset;
}

st {
    font-size: 1.4vw;
    position: relative;
    top: 0.5vw;
    left: -0.3vw;
}

.carusel_img {
    border-radius: 5%;
    width: 65%;
}

.carusel_buttons {
    padding-top: 5%;
    justify-content: space-between;
}

.carusel_buttons>button {
    padding: 0;
    border-radius: 20%;
    border-style: unset;
}

.carusel_buttons>button>img {
    border-radius: 20%;
}

.car_nav_img {
    width: 100%;
}

.center-img {
    padding-left: auto;
}


/*############################### WAVES ################################*/


/* wave-2-4 */

.wave-up {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 50, from(white), color-stop(0.49, white), color-stop(0.51, #5B69AA), to(#5B69AA));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg) translateY(-20px);
}


/* wave-2-black */

.wave-down {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#212529), color-stop(0.49, #212529), color-stop(0.51, #5B69AA), to(#5B69AA));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave-4-black {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#212529), color-stop(0.49, #212529), color-stop(0.51, #CBABC8), to(#CBABC8));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave-4-10 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#ffffff), color-stop(0.49, #ffffff), color-stop(0.51, #CBABC8), to(#CBABC8));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_2_10 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#ffffff), color-stop(0.49, #ffffff), color-stop(0.51, #5B69AA), to(#5B69AA));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_10_4 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#CBABC8), color-stop(0.49, #CBABC8), color-stop(0.51, #ffffff), to(#ffffff));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_10_8 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#FBA58E), color-stop(0.49, #FBA58E), color-stop(0.51, #ffffff), to(#ffffff));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_6_10 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#ffffff), color-stop(0.49, #ffffff), color-stop(0.51, #9C7884), to(#9C7884));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_10_6 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#9C7884), color-stop(0.49, #9C7884), color-stop(0.51, #ffffff), to(#ffffff));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_8_10 {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#fff), color-stop(0.49, #fff), color-stop(0.51, #FBA58E), to(#FBA58E));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}

.wave_white_black {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#212529), color-stop(0.49, #212529), color-stop(0.51, #ffffff), to(#ffffff));
    -webkit-background-size: 35px 100%;
}

.wave_10_black {
    height: 35px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 50, from(#212529), color-stop(0.49, #212529), color-stop(0.51, #ffffff), to(#ffffff));
    -webkit-background-size: 35px 100%;
    transform: rotateX(180deg);
}


/*################################### WAVES ##########################*/


/*  #################3##################GRADIENTS########################### */


/*grad-2-4*/

.section-grad {
    background-image: linear-gradient(#5B69AA, #CBABC8);
    color: white !important;
}

.grad-4-6 {
    background-image: linear-gradient(#CBABC8, #9C7884);
    color: white !important;
}

.grad-6-4 {
    background-image: linear-gradient( #9C7884, #CBABC8);
    color: white !important;
}

.section-white {
    background-color: #ffffff;
    color: black;
    padding-bottom: 5%;
}

.section-white-top {
    background-color: #ffffff;
    color: black;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}


/*grad-4-2*/

.section-grad-inverse {
    background-image: linear-gradient( #CBABC8, #5B69AA);
    color: white !important;
}

.grad-4-8 {
    background-image: linear-gradient( #CBABC8, #FBA58E);
    color: white !important;
}

.grad-8-9 {
    background-image: linear-gradient( #FBA58E, #EABE9B);
    color: white !important;
}

.grad-8-4 {
    background-image: linear-gradient( #FBA58E, #CBABC8);
    color: white !important;
}

.grad-8-2 {
    background-image: linear-gradient( #FBA58E, #5B69AA);
    color: white !important;
}

.grad-8-6 {
    background-image: linear-gradient( #FBA58E, #9C7884);
    color: white !important;
}

.grad-colab-2 {
    background-image: linear-gradient(#EABE9B, #CBABC8);
    color: white !important;
}

.grad-9-4 {
    background-image: linear-gradient(#EABE9B, #CBABC8);
    color: white !important;
}

.grad-6-8 {
    background-image: linear-gradient(#9C7884, #FBA58E);
    color: white !important;
}

.grad-4-9 {
    background-image: linear-gradient( #CBABC8, #EABE9B);
    color: white !important;
}

.section-5-8 {
    background-image: linear-gradient(#867481, #FBA58E);
    color: white !important;
}

.section-8-5 {
    background-image: linear-gradient(#867481, #FBA58E);
    color: white !important;
}


/* GRADIENTS */